<main>
    <div class="main">

        <div class="profile-details">
            <div class="profile-picture">
                <div class="pfp-img-container img-container">
                    <img src="{{ member.img_path }}" id="profile-pic" >
                </div>
            </div>
            <div class="profile-name">
                <h2 id="profile-name">{{member.first_name}} {{member.last_name}}</h2>
            </div>
            <div class="profile-note">
                <h2 class="h2-note">Note</h2>
                <p class="note-desc" id="profile-note">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum totam error officiis fugit illo, ab ducimus corrupti illum maiores iure nemo autem sint. Doloribus magni delectus odio tempore animi omnis?</p>
            </div>
        </div>

        <div id="personal-form" class="profile-form">
            <div class="profile-information">
                <div class="profile-info-header"><h2>Personal Information</h2></div>

                <div class="profile-item">
                    <div class="detail UIC d1">
                        <label class="detail-label l1">UIC:</label>
                        <div class="detail-text x1" id="UIC">{{member.uic_code}}</div>
                    </div>
                    <div class="detail Name d2">
                        <label class="detail-label l2">Name:</label>
                        <div class="detail-text x2" id="Name">{{member.last_name}} {{member.first_name}}</div>
                    </div>
                </div>

                <div class="profile-item">
                    <div class="detail Birthday d1">
                        <label class="detail-label l1">Birthday:</label>
                        <div class="detail-text x1" id="Birthday">{{member.birthday}}</div>
                    </div>
                    <div class="detail Address d2">
                        <label class="detail-label l2">Address:</label>
                        <div class="detail-text x2" id="Address">{{member.eAddress}}</div>
                    </div>
                </div>

                <div class="profile-item">
                    <div class="detail Gender d1">
                        <label class="detail-label l1">Gender:</label>
                        <div class="detail-text x1" id="Gender">{{member.gender}}</div>
                    </div>
                    <div class="detail Sex d2">
                        <label class="detail-label l2">Sex:</label>
                        <div class="detail-text x2" id="Sex">{{member.sex}}</div>
                    </div>
                </div>

                <div class="profile-item">
                    <div class="detail Contact last">
                        <label class="detail-label l1">Contact:</label>
                        <div class="detail-text col1" id="Contact">{{member.contact_number}}</div>
                    </div>
                    <div class="detail Email last">
                        <label class="detail-label l2">Email:</label>
                        <div class="detail-text col2" id="Email">{{member.email}}</div>
                    </div>
                    <div class="detail Civil last">
                        <label class="detail-label l3">Civil Status:</label>
                        <div class="detail-text col3" id="Civil">{{member.civil_status}}</div>
                    </div>
                </div>

                <div class="profile-item">
                    <div class="detail Facebook last">
                        <label class="detail-label l1">Facebook:</label>
                        <div class="detail-text col1" id="Facebook">{{member.fb_account}}</div>
                    </div>
                    <div class="detail Education last">
                        <label class="detail-label l2">Education:</label>
                        <div class="detail-text col2" id="Education">
                             {{#if member.entries}}
                        <ul>
                            {{#each member.entries}}
                        <li>
                            <strong>Course:</strong> {{this.course}}
                            <strong>Education Year:</strong> {{this.educationYear}}
                        </li>
                            {{/each}}
                        </ul>
                            {{/if}}
                        </div>
                        
                    </div>
                    <div class="detail School_Attended last">
                        {{#if member.entries}}
                        {{#each member.entries}}
                        <label class="detail-label l3">School Attended:</label>
                        <div class="detail-text col3" id="School_Attended">{{this.school}}</div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>

                <div class="profile-item">
                    <div class="detail Occupation last">
                        <label class="detail-label l1">Occupation:</label>
                        <div class="detail-text col1" id="Occupation">{{member.occupation}}</div>
                    </div>
                    <div class="detail Designation last">
                        <label class="detail-label l2">Designation:</label>
                        <div class="detail-text col2" id="Designation">{{member.designation}}</div>
                    </div>
                    <div class="detail Company last">
                        <label class="detail-label l3">Company:</label>
                        <div class="detail-text col3" id="Company">{{member.company}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="health-form" class="profile-form">
            <div class="profile-information">
                <div class="profile-info-header"><h2>Health Information</h2></div>

                <div class="profile-item">
                    <!-- Health Information items here -->
                </div>
            </div>
        </div>

        <div id="contact-form" class="profile-form">
            <div class="profile-information">
                <div class="profile-info-header"><h2>Contact Information</h2></div>

                <div class="profile-item">
                    <!-- Contact Information items here -->
                </div>
            </div>
        </div>

        <div class="form-navigate">
            <div class="nav-arrow nav-right">
                <button id="next" class="nav-btn"><span class="nav-icon-right material-symbols-outlined">arrow_back_ios</span></button>
            </div>
            <div class="nav-arrow nav-left">
                <button id="prev" class="nav-btn"><span class="nav-icon-left material-symbols-outlined">arrow_forward_ios</span></button>
            </div>
        </div>

    </div>
</main>

<script>


    document.addEventListener("DOMContentLoaded", function() {
        const forms = document.querySelectorAll(".profile-form");
        const nextButton = document.getElementById("next");
        const prevButton = document.getElementById("prev");
        let currentFormIndex = 0;

        forms[currentFormIndex].classList.add("active");

        prevButton.addEventListener("click", function() {
            if (currentFormIndex < forms.length - 1) {
                forms[currentFormIndex].classList.remove("active");
                currentFormIndex++;
                forms[currentFormIndex].classList.add("active");
            }
        });

        nextButton.addEventListener("click", function() {
            if (currentFormIndex > 0) {
                forms[currentFormIndex].classList.remove("active");
                currentFormIndex--;
                forms[currentFormIndex].classList.add("active");
            }
        });

        // Extract UIC code from URL
        //const urlParams = new URLSearchParams(window.location.search);
        // const uicCode = urlParams.get('uic_code');  
    });
</script>