<main>
    <div class="main">
      <div id="first-box" class="profile-form box-style"> 
        <div class="profile-details">
            <div class="profile-picture">
                <div class="pfp-img-container img-container">
                    <img src="{{member.img_path}}" id="profile-pic" alt="Profile Picture">
                </div>
            </div>
            <div class="profile-name">
                <h2 id="profile-name">{{member.name}}</h2>
            </div>
            <div class="profile-note">
                <div><h2 class="h2-note">Note</h2></div>
               <div> <p class="note-desc" id="profile-note">{{member.comments}}</p></div>
            </div>
        </div>
</div> 
        <div id="personal-form" class="profile-form box-style">
            <div class="profile-information">
                <div class="profile-info-header"><h2>Personal Information</h2></div>

                <div class="profile-item">
                    <div class="details">
                        <label class="detail-label l1">UIC:</label>
                         <input type="text" id="UIC" class="input-with-preview" value="{{member.uic_code}}" onfocus="clearInput(this)">
                    </div>
                    <div class="details">
                        <label class="detail-label l2">Name:</label>
                        <input type="text" id="NameInput" class="input-field" value="{{member.name}}" onfocus="clearInput(this)">
                    </div>
                </div>

                <div class="profile-item">
                    <div class="details">
                        <label class="detail-label l1">Birthday:</label>
                         <input type="text" id="BirthdayInput" class="input-field" value="{{member.birthday}}" onfocus="clearInput(this)">
                    </div>
                    
                    <div class="details">
                        <label class="detail-label l2">Barangay:</label>
                       <input type="text" id="BarangayInput" class="input-field" value="{{member.barangay}}" onfocus="clearInput(this)">
                    </div>
                    <div class="details">
                        <label class="detail-label l3">Location:</label>
                        <input type="text" id="LocationInput" class="input-field" value="{{member.location}}" onfocus="clearInput(this)">
                    </div>
                </div>
    
                <div class="profile-item">
                    <div class="details">
                        <label class="detail-label l1">Gender:</label>
                        <input type="text" id="GenderInput" class="input-field" value="{{member.gender}}" onfocus="clearInput(this)">
                    </div>
                    <div class="details">
                        <div><label class="detail-label l2">Sex:</label></div>
                        <div><input type="text" id="SexInput" class="input-field" value="{{member.sex}}" onfocus="clearInput(this)"></div>
                    </div>
                    <div class="details">
                        <label class="detail-label l3">Civil Status:</label>
                        <input type="text" id="CivilInput" class="input-field" value="{{member.civil_status}}" onfocus="clearInput(this)">
                    </div>
                </div>

                <div class="profile-item">
                    <div class="details">
                        <label class="detail-label l1">Contact:</label>
                        <input type="text" id="ContactInput" class="input-field" value="{{member.contact_number}}" onfocus="clearInput(this)">
                    </div>
                    <div class="details">
                        <label class="detail-label l2">Email:</label>
                         <input type="text" id="EmailInput" class="input-field" value="{{member.email}}" onfocus="clearInput(this)"> 
                    </div>

                    <div class="details">
                        <label class="detail-label l1">Facebook:</label>
                        <input type="text" id="FacebookInput" class="input-field" value="{{member.fb_account}}" onfocus="clearInput(this)">
                    </div>
                    
                </div>

                <div class="profile-item">
                    <div><h2>Education</h2></div>
                    <div class="detail-text col2" id="Education">
                        {{#if member.entries}}
                            {{#each member.entries}}
                            <div class="education-entry details">
                                <label class="detail-label l1">Course:</label>
                                <div class="detail-text col3" id="course">{{this.course}}</div>

                                <label class="detail-label l1">Education Year:</label>
                                <div class="detail-text col3" id="educationYear">{{this.educationYear}}</div>

                                <label class="detail-label l1">School Attended:</label>
                                <div class="detail-text col3" id="School_Attended">{{this.school}}</div>
                            </div>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>

                <div class="profile-item">
                    <div class="details">
                        <label class="detail-label l1">Occupation:</label>
                        <div class="detail-text col1" id="Occupation">{{member.occupation}}</div>
                    </div>
                    <div class="details">
                        <label class="detail-label l2">Designation:</label>
                        <div class="detail-text col2" id="Designation">{{member.designation}}</div>
                    </div>
                    <div class="details">
                        <label class="detail-label l3">Company:</label>
                        <div class="detail-text col3" id="Company">{{member.company}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="health-form" class="profile-form box-style">
            <div class="profile-information">
                <div class="profile-info-header"><h2>Health Information</h2></div>

                <div class="profile-item">
                    <div class="detail-text col2" id="health">
                    {{#if member.medications}}
                        {{#each member.medications}}
                            <div class="medication-entry details">
                                <label class="detail-label l1">Medication:</label>
                                <div class="detail-text col1" id="Medication">{{this.medication}}</div>
                        
                                <label class="detail-label l2">Start Date:</label>
                                <div class="detail-text col1" id="startDate">{{this.startDate}}</div>
                        
                                <label class="detail-label l1">Condition:</label>
                                <div class="detail-text col2" id="Condition">{{this.condition}}</div>
                            </div>
                        {{/each}}
                    {{/if}}
                    </div>
                </div>
            </div>
        </div>

        <div id="contact-form" class="profile-form box-style">
            <div class="profile-information">
                <div class="profile-info-header"><h2>Contact Information</h2></div>

                <div class="profile-item">
                    <div class="details">
                        <label class="detail-label l1">Contact Person:</label>
                        <div class="detail-text col1" id="ePerson">{{member.ePerson}}</div>
                    </div>
                    <div class="details">
                        <label class="detail-label l1">Contact Number:</label>
                        <div class="detail-text col1" id="eContact">{{member.eContact}}</div>
                    </div>
                </div>
                <div class="profile-item">
                    <div class="details">
                        <label class="detail-label l1">Relationship:</label>
                        <div class="detail-text col1" id="eRelationship">{{member.eRelationship}}</div>
                    </div>
                    <div class="details">
                        <label class="detail-label l1">Contact Address:</label>
                        <div class="detail-text col1" id="eAddress">{{member.eAddress}}</div>
                    </div>
                </div>
                <a id="editLink" href="/updateMember?uic_code={{member.uic_code}}">Edit</a>
            </div>
        </div>
    </div>
</main>

<script>

    function clearInput(input){
        input.value=' ';
    }
    document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('saveButton').addEventListener('click', function() {
        const uicCode = document.getElementById('UIC').value;
        const name = document.getElementById('NameInput').value;
        const birthday = document.getElementById('BirthdayInput').value;
        const barangay = document.getElementById('BarangayInput').value;
        const location = document.getElementById('LocationInput').value;
        const gender = document.getElementById('GenderInput').value;
        const sex = document.getElementById('SexInput').value;
        const contactNumber = document.getElementById('ContactInput').value;
        const email = document.getElementById('EmailInput').value;
        const civilStatus = document.getElementById('CivilInput').value;
        const facebook = document.getElementById('FacebookInput').value;
        const occupation = document.getElementById('OccupationInput').value;
        const designation = document.getElementById('DesignationInput').value;
        const company = document.getElementById('CompanyInput').value;
        const schoolsAttended = document.querySelectorAll('#SchoolAttendedInput');
        const entries = [];

        schoolsAttended.forEach(input => {
            entries.push({ school: input.value });
        });

        const data = {
            uic_code: uicCode,
            name: name,
            birthday: birthday,
            barangay: barangay,
            location: location,
            gender: gender,
            sex: sex,
            contact_number: contactNumber,
            email: email,
            civil_status: civilStatus,
            fb_account: facebook,
            occupation: occupation,
            designation: designation,
            company: company,
            entries: entries
        };

        fetch('/update-member', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(result => {
            console.log('Member details updated successfully:', result);
            // Redirect to member detail display with the same uic
            window.location.href = `/memberDetail?uic_code=${uicCode}`;
        })
        .catch(error => {
            console.error('Error updating member details:', error);
            // Optionally handle error UI updates
        });
    });
    });


</script>